
  .form-input-container {
    width:100%;
    text-align: start;
    align-items: flex-start;
  }

  label {
    font-weight: 700;
    font-size: 14px;
  }


  input {
    border: 1px solid theme-color("icon");
    border-radius: 8px;
    overflow: hidden;  //Text doesn't go past the border
    white-space: nowrap; //Single Line
    caret-color: theme-color("white");
    background-color: theme-color("bg");
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &:focus {
      color: theme-color("white");
      border-color: theme-color("white");
      outline: none;
    }
    &:autofill, &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
      -webkit-box-shadow: inset 0 0 0 50px theme-color("darker-bg");
      -webkit-text-fill-color: theme-color("white");
    }
    &:-internal-autofill-selected {
      background-color: theme-color("darker-bg") !important;
      color: theme-color("white") !important;
    }

    &[type = "file"] {
      display: none;
    }
  
    &[type = "password"]::-ms-reveal, &[type = "password"]::-ms-clear {
      display: none;
    }
  }
  
  .feedback {
    margin-left: 0.75rem;
    margin-top: 0.5rem; 
    font-size: 0.75rem; 
    color: red;
  }