.logo {
    height: 48px;
    width: 226px;
}
#top-nav-root {
    position: fixed;
    z-index: 5;
    height: 200px;
}

#top-nav {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-popmenu {
    display: none;
    @media screen and (min-width: device-min("lg")) {
        display: flex;
    }
}

#header-mobile-link {
    display: none;
    @media screen and (max-width: device-max("md")) {
        display: auto;
    }
}