.task-card {
    width: 100%;
    color: theme-color("white");
    background-color: theme-color("bg");
    border-radius: 8px;
    padding: 16px;
    gap: 12px;
    padding-top: 0.75rem;
    padding-left: 0.5rem;
    padding-bottom: 0.75rem;
    padding-right: 0.5rem;
}