#task-header-top {
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.task-header-list-item {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}