#task-header-top {
    font-size: 14px;
    justify-content: space-between;
    width: 100%;
}

.align-start {
    align-self: start
}

.align-end {
    align-self: end;
}

.task-header-num {
    margin-left: 0.5rem;
    background-color: theme-color("card");
    justify-content: center;
    border-radius: 20%;
    height: 19px;
    padding-top: 0.15rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom:0.15rem;
    font-size: 12px;
    font-weight: 700;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.task-empty-border-top {
    border-top: 1px solid theme-color("icon");
    border-radius: 8px;
    padding-top: 3rem;
}

.task-empty-h4 {
    color: theme-color("icon");
    margin-top: 35px;
}